main input{
    font-size: 1.5em;
    padding: 0.5em;
}
.botao{
    width: 24%;
    margin-left: : 3px;
    margin-right: 0;
    margin-top: 3px;
    border: 0px;
    background-color: rgb(235, 235, 228);
}
.botao_numero{
    background-color: rgb(252,250,255);
    font-weight: bold;
}
.botoes{
    background-color: #ddd;
    border:0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.calculadora{
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    background-color: #ddd;
    background-color: rgb(235, 235, 228);
}
.campo-digitos{
    width: calc(96%);
    padding: 0.5em;
    font-size: 2em;
    text-align: right;
    border: 0;
    margin-right: 20%;
    font-weight: bold;
}
