main input{
    float: left;
    font-size: 1em;
    padding: 0.5em;
}

.campo-digitos{
    width: 100%;
    background-color: #fff;
    cursor: default;
    padding: 0;
    font-size: 2em;
    text-overflow: ellipsis;
}

.operador{
    width: calc(100%/6);
}

.extra{
    width: calc(100%/4);
}

.digito{
    width: calc(100%/3);
}

.clear{
    clear: both;
}

.center{
    margin-left: auto;
    margin-right: auto;
}